<template>
  <div id="app">
    <div class="calc">
      <div class="calc__wrapper">
        <div class="calc__inner">
          <span class="calc__action">
            {{ symbol }}
          </span>
        </div>
        <div class="calc__inner">
          <input
            class="calc__field form-control"
            type="number"
            min="-999999999999"
            max="999999999999"
            v-model="arg1"
            @input="calcSum"
          />
          <input
            class="calc__field form-control"
            type="number"
            min="-999999999999"
            max="999999999999"
            v-model="arg2"
            @input="calcSum"
          />
        </div>
      </div>
      <div class="calc__result">
        = {{ result }}
      </div>
      <div class="calc__controls controls">
        <template v-for="(operator, key) in operators">
          <button
            class="controls__button button"
            v-if="operator.isShown && operator.action"
            :key="key"
            @click="callOperatorAction(key)"
          >
            {{ operator.text }}
          </button>
        </template>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'app',
  data: () => ({
    arg1: 0,
    arg2: 0,
    result: 0,
    symbol: '+',
  }),
  computed: {
    operators() {
      if (!this.$config?.operators) {
        return null;
      }
      return this.$config.operators;
    },
  },
  methods: {
    calcSum() {
      this.symbol = '+';
      this.result = Number(this.arg1) + Number(this.arg2);
    },
    callOperatorAction(key) {
      if (!this.$config?.operators) {
        return;
      }

      const result = this.$config.operators[key].action(Number(this.arg1), Number(this.arg2));

      if (typeof result !== 'number' || Number.isNaN(result)) {
        return;
      }
      this.symbol = this.$config.operators[key].symbol;
      this.result = result;
    },
  },
};
</script>

<style lang="scss">
body {
  background-color: #dddddd;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.button {
  padding: 7px 10px;
  border: none;
  border-radius: 3px;
  background-color: #3558e6;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
}

.calc {
  max-width: 420px;
  background-color: #ffffff;
  padding: 20px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0px 1px 4px 2px rgba(#000000, .2);

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__inner {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__field {
    width: 380px;
    text-align: center;
    margin: 5px 0;
    padding: 5px 2px 5px 10px;
    font-size: 20px;
  }

  &__action {
    margin-right: 5px;
    font-size: 28px;
  }

  &__result {
    width: 100%;
    font-size: 28px;
    text-align: left;
  }

  &__controls {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
  }
}
</style>
